/* For desktop: */

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {}
}


/* Women Techmakers Colors*/

:root {
    --color-WT0: #32b1a0/* Turquesa*/
    ;
    --color-WT1: #65bda5/* Turquesa Claro */
    ;
    --color-WT2: #57c2f0/* Celeste */
    ;
    --color-WT3: #527bbd/* Azul */
    ;
}

a {
    color: var(--color-WT2);
    text-decoration-line: none;
}

body {
    align-content: center;
}

body section {
    float: center;
    align-content: center;
}

button {
    float: left;
    width: 100px;
    color: var(--color-WT1);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: white;
    border-color: var(--color-WT3);
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
}

header {
    float: left;
    margin: 3px;
    padding: 3px;
    border-bottom-color: var(--color-WT2);
    border-bottom-style: groove;
}

.logo {
    width: 90px;
}

.left {
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.right {
    float: right;
    margin: 0 0 0.5em 0.5em;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}

.title {
    font-family: 'Montserrat', sans-serif;
    color: var(--color-WT0);
    text-align: center;
    margin-left: 100px;
    float: left;
}

#demo {
    clear: left;
    float: none;
    display: none;
    align-content: center;
}
#demo iframe{
    width: 100%;
    height: 500px;
}

